/*one*/
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 5s;   
    cursor: pointer;
}
.ex-1-square:hover{
    background-color: red;
    
}

/*two*/ 
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    cursor: pointer;
} 
.ex-2-square:active{
width: 900px;
height:300px;
}

/*three*/ 
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    cursor: pointer;
}
.ex-3-square:hover{
    transition: 3s;
    border-radius: 50%;
}

/*Four*/ 
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    cursor: pointer;
    
}
.ex-4-square:hover{
    opacity:0;
    transition:2s;
    display: block;
}

/*Five*/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    cursor: pointer;
}
.ex-5-square:hover{
    width:100px;
    height:100px;
}
.ex-5-square:active{
    width:30px;
    height:30px;
}

/*Six seven eight*/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
    cursor: pointer;
}
.ex-7-img:hover{
    filter: blur(5px) sepia(0.8);
    transition: 5s;
    cursor: pointer;
}
.ex-8-img:hover{
    border-radius: 10px;
    filter:brightness(1.3) opacity(0.5);
    cursor: pointer;
    width:800px;
    transition: 2s;
}

/* Nine */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    cursor: pointer;
}
.ex-9-img:hover{
    border-radius: 15px;
    filter: url('#grain') grayscale(0.6) sepia(0.5) brightness(1.5);
    width:800px;
    animation: landscape 1s;
}
@keyframes landscape{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

}
/* Ten */
.ex-10-icon {
    font-size: 60px;
    animation: infinite-spinning 0.5s infinite;
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* Eleven */

.ex-11-icon {
    font-size: 60px;
    cursor: pointer;
}
.ex-11-icon:hover{
   animation: hover_spinning 2s alternate;
}
@keyframes hover_spinning  {
    to {
      -webkit-transform: rotate(270deg);
    }
  }


  /* Twelve & Thirty */
 
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
     
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

      